{**
 * 关于页
 *
 * @link    http://zhouhuajian.website
 * @package zhouhuajian.website
 * @author  zhouhuajian
 * @version v1.0
 *}
<div id="about-wrap" class="main-wrap about-wrap hide">
    <div class="intro">
        <div class="label">🧑简介</div>
        <div class="content">周华健 1992年12月 广东河源人</div>
        <div class="label">🏫大学</div>
        <div class="content">汕头大学</div>
        <div class="label">📙喜欢的书籍</div>
        <div class="content">Thinking in Java</div>
        <div class="label">🎻喜欢的歌手</div>
        <div class="content">Avril Lavigne</div>
        <div class="label">🏀喜欢的运动</div>
        <div class="content">篮球 羽毛球</div>
        <div class="label">📔座右铭</div>
        <div class="content">Time will tell everything</div>
    </div>
    <img class="avatar" src="/static/image/about/avatar.png" alt="" />
</div>
<!-- 关于页结束 -->