{**
 * 关于页
 *
 * @link    http://zhouhuajian.website
 * @package zhouhuajian.website
 * @author  zhouhuajian
 * @version v1.0
 *}
<div class='main-wrap about-wrap hide'>
    <div class='intro'>
        <strong>姓名</strong><br />
        周华健<br />
        <strong>学校</strong><br />
        汕头大学(重点本科)<br />
        <strong>个人介绍</strong><br />
        男 汉族 1992年<br />
        广东河源人<br />
        <strong>可炫耀的往事</strong><br />
        北京百度总部网页搜索部 研发工程师<br />
        北京百度分公司云平台部 研发工程师<br />
        <strong>口号宗旨愿景</strong><br />
        华健出品 必出精品<br />
        授人以鱼不如授人以渔<br />
        不只是分享知识还有学习的方法<br />
        <!-- <strong>愿景</strong><br />
        每个视频教程播放量都是同类第一<br /> -->
    </div>
    <div class='avatar'>
        <img alt='周华健' src='/static/image/avatar/zhouhuajian_150_150.jpg' />
    </div>
    <div class='person person-2 hide'>
        <div class='avatar'>
            <img alt='李远香' src='/static/image/avatar/liyuanxiang.jpeg' />
        </div>
        <div class='intro'>
            <strong>姓名</strong><br />
            李远香<br />
            <strong>学校</strong><br />
            广东科技学院<br />
            <strong>个人介绍</strong><br />
            女 汉族 1994年<br />
            广东梅州人<br />
            <strong>可炫耀的往事</strong><br />
            ......此处省略2万字<br />
        </div>
    </div>
</div>