<div class='main-wrap about-wrap'>
    <div class='person person-1'>
        <div class='intro'>
            <strong>姓名</strong><br />
            周华健<br />
            <strong>学校</strong><br />
            汕头大学(重点本科)<br />
            <strong>个人介绍</strong><br />
            男 汉族 1992年<br />
            广东河源人<br />
            <strong>可炫耀的往事</strong><br />
            北京百度总部网页搜索部 研发工程师<br />
            北京百度分公司云平台部 研发工程师<br />
        </div>
        <div class='avatar'>
            <img alt='周华健' src='/static/image/avatar/zhouhuajian.jpg' />
        </div>
    </div>
    <div class='person person-2'>
        <div class='avatar'>
            <img alt='李远香' src='/static/image/avatar/liyuanxiang.jpeg' />
        </div>
        <div class='intro'>
            <strong>姓名</strong><br />
            李远香<br />
            <strong>学校</strong><br />
            广东科技学院<br />
            <strong>个人介绍</strong><br />
            女 汉族 1994年<br />
            广东梅州人<br />
            <strong>可炫耀的往事</strong><br />
            ......此处省略2万字<br />
        </div>
    </div>
    <!--<strong>姓名</strong><br />
    周华健<br />
    <strong>学校</strong><br />
    汕头大学(重点本科)<br />
    <strong>个人介绍</strong><br />
    男 汉族 1992年<br />
    广东河源人<br />
    <strong>可炫耀的往事</strong><br />
    北京百度总部网页搜索部 研发工程师<br />
    北京百度分公司云平台部 研发工程师<br />
    <br />
    <strong>姓名</strong><br />
    李远香<br />
    <strong>学校</strong><br />
    广东科技学院<br />
    <strong>个人介绍</strong><br />
    女 汉族 1994年<br />
    广东梅州人<br />
    <strong>可炫耀的往事</strong><br />
    ......此处省略2万字<br />-->
</div>