{**
 * 打赏页
 *
 * @link    http://zhouhuajian.website
 * @package zhouhuajian.website
 * @author  zhouhuajian
 * @version v1.0
 *}
<div class='main-wrap donate-wrap hide'>
    为什么需要各位的打赏？<br />
    更多的打赏 = 更多的钱💰<br />
    更多的钱 = 更多的咖啡☕<br />
    更多的咖啡 = 更多的分享📚<br />
    更多的分享 = 你能获得更多的知识<br />
    更多的知识 = 你能赚更多的钱<br />
    更多的钱 = 你能给我更多的打赏<br />
    😅😅😅😅 ...<br />
    <p class='tip'>
        (打赏的钱可能是各位辛辛苦苦赚的钱，💁‍♂打赏请谨慎)
    </p>
    <div class='donate'>
        <a class='btn btn-gray donate-btn active' money='1'>打赏1元</a>
        <a class='btn btn-green donate-btn' money='2'>打赏2元</a>
        <a class='btn btn-blue donate-btn' money='5'>打赏5元</a>
        <a class='btn btn-orange donate-btn' money='10'>打赏10元</a>
        <a class='btn btn-red donate-btn' money='20'>打赏20元</a>
    </div>
    <div id='qrcode-1-yuan' class='qrcode active'>
        <div>
            <img alt='' src='/static/image/qrcode/alipay_1_yuan.jpg' />
            <div class='label'>支付宝</div>
        </div>
        <div>
            <img alt='' src='/static/image/qrcode/weixin_1_yuan.jpg' />
            <div class='label'>微信</div>
        </div>
    </div>
    <div id='qrcode-2-yuan' class='qrcode'>
        <div>
            <img alt='' src='/static/image/qrcode/alipay_2_yuan.jpg' />
            <div class='label'>支付宝</div>
        </div>
        <div>
            <img alt='' src='/static/image/qrcode/weixin_2_yuan.jpg' />
            <div class='label'>微信</div>
        </div>
    </div>
    <div id='qrcode-5-yuan' class='qrcode'>
        <div>
            <img alt='' src='/static/image/qrcode/alipay_5_yuan.jpg' />
            <div class='label'>支付宝</div>
        </div>
        <div>
            <img alt='' src='/static/image/qrcode/weixin_5_yuan.jpg' />
            <div class='label'>微信</div>
        </div>
    </div>
    <div id='qrcode-10-yuan' class='qrcode'>
        <div>
            <img alt='' src='/static/image/qrcode/alipay_10_yuan.jpg' />
            <div class='label'>支付宝</div>
        </div>
        <div>
            <img alt='' src='/static/image/qrcode/weixin_10_yuan.jpg' />
            <div class='label'>微信</div>
        </div>
    </div>
    <div id='qrcode-20-yuan' class='qrcode'>
        <div>
            <img alt='' src='/static/image/qrcode/alipay_20_yuan.jpg' />
            <div class='label'>支付宝</div>
        </div>
        <div>
            <img alt='' src='/static/image/qrcode/weixin_20_yuan.jpg' />
            <div class='label'>微信</div>
        </div>
    </div>
</div>