<div class='main-wrap donate-wrap display-none'>
    为什么打赏？<br />
    更多的打赏 = 更多的钱<br />
    更多的钱允许我能买更多的咖啡<br />
    更多的咖啡我就能录制更多的视频课程<br />
    更多的视频课程意味着更多的分享<br />
    更多的分享你也能获取更多的知识<br />
    更多的知识因此你能赚更多的钱<br />
    更多的钱你就能给我更多的打赏<br />
    Hahahaha...<br />
    <p class='tip font-13'>
        (打赏的钱可能是各位辛辛苦苦赚的钱，打赏请谨慎)
    </p>
    <div class='donate'>
        <a class='btn btn-orange'>打赏1元</a>
        <a class='btn btn-orange'>打赏2元</a>
        <a class='btn btn-orange'>打赏5元</a>
        <a class='btn btn-orange'>打赏10元</a>
        <a class='btn btn-orange'>打赏20元</a>
    </div>
</div>