{**
 * 通用头部
 *
 * @link    http://zhouhuajian.website
 * @package zhouhuajian.website
 * @author  zhouhuajian
 * @version v1.0
 *}
<div id="head-wrap" class="head-wrap">
    <a id="logo" class="logo animate__animated animate__flash" href="/" target="_self">未来不是梦</a>
    <div class="nav animate__animated animate__fadeInRight animate__delay-1s">
        <a href="/#home">首页</a>
        <a href="/#course">课程</a>
        <a href="/#">文章</a>
        <a href="/#">诗词</a>
        <a href="/#about">关于</a>
        <a href="/#source-code">网站源码</a>
    </div>
</div>
<!-- 通用头部结束 -->
