{**
 * 头部
 *
 * @link    http://zhouhuajian.website
 * @package zhouhuajian.website
 * @author  zhouhuajian
 * @version v1.0
 *}
<div class='head-wrap fixed'>
    <div class='head relative'>
        <div class='icon fl font-18 font-bold animated flash link'>
            📚
        </div>
        <div id='web-name' class='web-name fl font-18 font-bold link'>未来不是梦</div>
        <div id='web-name-cover' class='web-name-cover absolute'></div>
        <div class='blank fl'></div>
        <div id='nav' class='nav fl font-15 font-bold hide'>
            <a class='nav-btn' page='share'>分享</a>
            <a class='nav-btn' page='about'>关于</a>
            <a class='nav-btn' page='source-code'>源码</a>
            <a class='nav-btn' page='donate'>打赏</a>
        </div>
    </div>
</div>