{**
 * 首页
 *
 * @link    http://zhouhuajian.website
 * @package zhouhuajian.website
 * @author  zhouhuajian
 * @version v1.0
 *}
<div id="home-wrap" class="main-wrap home-wrap hide">
    <div id="banner" class="banner"></div>
    <!-- banner图结束 -->
    <div class="home-content">
        <h1 class="title">这一切，才刚刚开始</h1>
        <div class="content1">以往的学习经历记忆尤新，凌晨到深夜，一天又一天。<br />忘不了逃课学习网络视频教程，忘不了开发好东西向同学炫耀，忘不了那一杯一杯的咖啡。<br />制作视频教程，分享知识，思考已久，蓄势待发。<br />而这些那些，一切的一切，才刚刚开始。</div>
    </div>
    <div class="home-content">
        <h1 class="title">最新课程</h1>
        <h3 class="sub-title">计算机基础 | 开发语言 | 开发软件 | 计算机网络</h3>
        <div class="content2">
            <a href="#course/personal-website"><img class="course" alt="" src="/static/image/course/personal_website.jpg" /></a>
            <a href="#course/java"><img class="course" alt="" src="/static/image/course/java.jpg" /></a>
            <a href="#course/php"><img class="course" alt="" src="/static/image/course/php.jpg" /></a>
            <a href="#course/python"><img class="course" alt="" src="/static/image/course/python.jpg" /></a>
            <a href="#course/golang"><img class="course" alt="" src="/static/image/course/golang.jpg" /></a>
            <a href="#course/linux"><img class="course" alt="" src="/static/image/course/linux.jpg" /></a>
        </div>
    </div>
</div>
<!-- 首页结束 -->
