<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />

<link rel='stylesheet' type='text/css' href='https://www.dowebok.com/demo/2014/98/animate.min.css' />

<link rel='stylesheet' type='text/css' href='/static/css/global.css' />
<link rel='stylesheet' type='text/css' href='/static/css/index.css' />
<link rel='stylesheet' type='text/css' href='/static/css/share.css' />
<link rel='stylesheet' type='text/css' href='/static/css/about.css' />
<link rel='stylesheet' type='text/css' href='/static/css/source_code.css' />
<link rel='stylesheet' type='text/css' href='/static/css/donate.css' />
</head>
<body>
{include file='head.htm'}
{include file='share.htm'}
{include file='source_code.htm'}
{include file='about.htm'}
{include file='donate.htm'}
{include file='foot.htm'}
<script src='http://libs.baidu.com/jquery/2.1.1/jquery.min.js'></script>
<script src='/static/js/index.js'></script>
<script src='/static/js/donate.js'></script>
</body>
</html>