{**
 * 分享页
 *
 * @link    http://zhouhuajian.website
 * @package zhouhuajian.website
 * @author  zhouhuajian
 * @version v1.0
 *}
<div class='share-wrap main-wrap hide'>
    <h5>开发知识分享</h5>
    <table class='summary-table'>
        <tr>
            <td>操作系统：</td>
            <td>
                <a class='btn btn-green'>Linux</a>
            </td>
        </tr>
        <tr>
            <td>开发语言：</td>
            <td>
                <a class='btn btn-green'>PHP</a>
                <a class='btn btn-green'>Java</a>
                <a class='btn btn-green'>Python</a>
                <a class='btn btn-green'>Go</a>
                <a class='btn btn-green'>Javascript</a>
            </td>
        </tr>
        <tr>
            <td>标记语言：</td>
            <td>
                <a class='btn btn-green'>HTML/CSS</a>
                <a class='btn btn-green'>Markdown</a>
            </td>
        </tr>
        <tr>
            <td>版本管理：</td>
            <td>
                <a class='btn btn-green'>Git</a>
                <a class='btn btn-green'>SVN</a>
            </td>
        </tr>
        <tr>
            <td>搜索引擎：</td>
            <td>
                <a class='btn btn-green' href='#elasticsearch'>Elasticsearch</a>
            </td>
        </tr>
        <tr>
            <td>其他：</td>
            <td>
                <a class='btn btn-green' href='#unicode'>Unicode</a>
                <a class='btn btn-green' href='#unicode'>键盘教程</a>
                <a class='btn btn-green' href='#unicode'>XMind教程</a>
            </td>
        </tr>
    </table>
    <h6 id='elasticsearch'>Elasticsearch</h6>
    <table class='item-table'>
        <tr>
            <td>简介</td>
            <td>
                网站开发的入门课程, 即一般所谓的JavaWeb / JavaEE技术。
            </td>
        </tr>
        <tr>
            <td>视频</td>
            <td>
                <a class='btn btn-blue'>网易云课堂</a>
                <a class='btn btn-blue'>CSDN学院</a>
                <a class='btn btn-blue'>腾讯课堂</a>
            </td>
        </tr>

        <tr>
            <td>资料</td>
            <td>
                <a class='btn btn-gray'>微云下载</a>
            </td>
        </tr>
    </table>
    <h6 id='unicode'>Unicode</h6>
    <table class='item-table'>
        <tr>
            <td>简介</td>
            <td>
                网站开发的入门课程, 即一般所谓的JavaWeb / JavaEE技术。
            </td>
        </tr>
        <tr>
            <td>视频</td>
            <td>
                <a class='btn btn-blue'>网易云课堂</a>
                <a class='btn btn-blue'>CSDN学院</a>
                <a class='btn btn-blue'>腾讯课堂</a>
            </td>
        </tr>

        <tr>
            <td>资料</td>
            <td>
                <a class='btn btn-gray'>微云下载</a>
            </td>
        </tr>
    </table>
</div>