{**
 * 网站源码页
 *
 * @link    http://zhouhuajian.website
 * @package zhouhuajian.website
 * @author  zhouhuajian
 * @version v1.0
 *}
<div id="source-code-wrap" class="main-wrap source-code-wrap hide">
    原创代码 小小礼物🎁 小小心意🎁 请笑纳<br />
    完全免费 可学习、使用、散布等<br />
    <a href='https://github.com/zhouhuajian-website/zhouhuajian-website' target="_blank" class="btn btn-deep-blue">网站源码Github</a><br />
    当然也可回送一杯星巴克咖啡☕<br />
    <a id="donate-btn" class="btn btn-deep-blue">打赏一杯星巴克咖啡</a><br />
    Want to know how it make?<br />
    click below! click! click!<br />
    <a class="btn btn-deep-blue">网易云课堂</a>&nbsp;&nbsp;
    <a class="btn btn-deep-blue">CSDN学院</a>&nbsp;&nbsp;
    <a class="btn btn-deep-blue">腾讯课堂</a>&nbsp;&nbsp;
</div>
<div id="modal" class="modal"></div>
<div id="donate-dialog" class="donate-dialog">
    <img class="donate-qrcode" src="/static/image/source_code/alipay_20.png" alt="" />
    <img class="donate-qrcode" src="/static/image/source_code/wechat_20.png" alt="" />
</div>
<!-- 网站源码页结束 -->