{**
 * 源码页
 *
 * @link    http://zhouhuajian.website
 * @package zhouhuajian.website
 * @author  zhouhuajian
 * @version v1.0
 *}
<div class='main-wrap source-code-wrap hide'>
    <h6>网站源码</h6>
    <p>
        HTML + CSS + Javascript + PHP + Smarty + JQuery + AnimateCSS<br />
        这是送给各位的一个小礼物<br />
        请笑纳<br />
        看源码有所收获可到打赏页打赏 Hahahaha...<br />
    </p>
    <h6>源码地址</h6>
    <p>
        <a class='btn btn-orange' href='https://github.com/zhouhuajian-website/zhouhuajian-website' target="_blank">
            Github
        </a>
    </p>
</div>