<div class='main-wrap source-code-wrap display-none'>
    <h6>网站源码</h6>
    <p>HTML + CSS + Javascript + PHP + Smarty + JQuery + Composer<br />这是送给各位的一个小礼物<br />请笑纳</p>
    <h6>源码地址</h6>
    <p>
        <a class='btn btn-orange' href='https://github.com/zhouhuajian-website/zhouhuajian-website' target="_blank">
            Github
        </a>
    </p>
    <!--
    <h6>结构</h6>
    <pre>.
|-- data
|   `-- template
|-- library
|   `-- smarty-3.1.34      Smarty库
|-- release
|   `-- index.html         发布时的首页页面
|-- static
|   |-- css
|   |-- image
|   `-- js
|-- template
|   |-- about.htm          关于页面
|   |-- donate.htm         打赏页面
|   |-- foot.htm           尾部
|   |-- head.htm           头部
|   |-- index.htm          首页
|   |-- share.htm          分享页面
|   `-- source_code.htm    源码页面
`-- .gitignore
`-- index.php</pre>-->
</div>