{**
 * 视频分享页
 *
 * @link    http://zhouhuajian.website
 * @package zhouhuajian.website
 * @author  zhouhuajian
 * @version v1.0
 *}
<div id="video-share-wrap" class="main-wrap video-share-wrap hide">
    <h1 class="nav-title">原创视频分享</h1>
    <div class="nav-item">
        <div class="cate">
            操作系统：
        </div>
        <div class="video">
            <div class="video-btn">
                <a href="#video-share/linux" class="btn btn-deep-blue">Linux</a>
            </div>
        </div>
    </div>
    <div class="nav-item">
        <div class="cate">
            开发语言：
        </div>
        <div class="video">
            <div class="video-btn">
                <a href="#video-share/php" class="btn btn-deep-blue">PHP</a>
            </div>
            <div class="video-btn">
                <a href="#video-share/java" class="btn btn-deep-blue">Java</a>
            </div>
            <div class="video-btn">
                <a href="#video-share/python" class="btn btn-deep-blue">Python</a>
            </div>
            <div class="video-btn">
                <a href="#video-share/golang" class="btn btn-deep-blue">Golang</a>
            </div>
        </div>
    </div>
    <div class="nav-item">
        <div class="cate">
            网站前端：
        </div>
        <div class="video">
            <div class="video-btn">
                <a class="btn btn-deep-blue">HTML</a>
            </div>
            <div class="video-btn">
                <a class="btn btn-deep-blue">CSS</a>
            </div>
            <div class="video-btn">
                <a class="btn btn-deep-blue">Javascript</a>
            </div>
        </div>
    </div>
    <div class="nav-item">
        <div class="cate">
            其他：
        </div>
        <div class="video">
            <div class="video-btn">
                <a href="#video-share/personal-website" class="btn btn-deep-blue">个人网站项目实例</a>
            </div>
            <div class="video-btn">
                <a class="btn btn-deep-blue">Markdown</a>
            </div>
            <div class="video-btn">
                <a class="btn btn-deep-blue">Elasticsearch</a>
            </div>
            <div class="video-btn">
                <a class="btn btn-deep-blue">Git</a>
            </div>
            <div class="video-btn">
                <a class="btn btn-deep-blue">键盘</a>
            </div>
            <div class="video-btn">
                <a class="btn btn-deep-blue">浏览器</a>
            </div>
        </div>
    </div>
    <!-- 视频分享 导航 结束 -->
    <div id="video-share/personal-website" class="video-item">
        <h1 class="title">个人网站项目实例</h1>
        <img class="cover" src="/static/image/video_share/personal_website.png" alt="" />
        <div class="video-detail">
            <div class="detail-item">
                <div class="label">简介：</div>
                <div class="detail detail-intro">这是简介。</div>
            </div>
            <div class="detail-item">
                <div class="label">视频：</div>
                <div class="detail">
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">CSDN学院</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">腾讯课堂</a>
                    </div>
                </div>
            </div>
            <div class="detail-item">
                <div class="label">资料：</div>
                <div class="detail">
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">百度网盘</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">腾讯微云</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 个人网站制作 项目实例 结束 -->
    <div id="video-share/java" class="video-item">
        <h1 class="title">Java</h1>
        <img class="cover" src="/static/image/video_share/java.png" alt="" />
        <div class="video-detail">
            <div class="detail-item">
                <div class="label">简介：</div>
                <div class="detail detail-intro">这是简介。</div>
            </div>
            <div class="detail-item">
                <div class="label">视频：</div>
                <div class="detail">
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">CSDN学院</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">腾讯课堂</a>
                    </div>
                </div>
            </div>
            <div class="detail-item">
                <div class="label">资料：</div>
                <div class="detail">
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">百度网盘</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">腾讯微云</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- java 结束 -->
    <div id="video-share/python" class="video-item">
        <h1 class="title">Python</h1>
        <img class="cover" src="/static/image/video_share/python.png" alt="" />
        <div class="video-detail">
            <div class="detail-item">
                <div class="label">简介：</div>
                <div class="detail detail-intro">这是简介。</div>
            </div>
            <div class="detail-item">
                <div class="label">视频：</div>
                <div class="detail">
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">CSDN学院</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">腾讯课堂</a>
                    </div>
                </div>
            </div>
            <div class="detail-item">
                <div class="label">资料：</div>
                <div class="detail">
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">百度网盘</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">腾讯微云</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Python 结束 -->
    <div id="video-share/linux" class="video-item">
        <h1 class="title">Linux</h1>
        <img class="cover" src="/static/image/video_share/linux.png" alt="" />
        <div class="video-detail">
            <div class="detail-item">
                <div class="label">简介：</div>
                <div class="detail detail-intro">这是简介。</div>
            </div>
            <div class="detail-item">
                <div class="label">视频：</div>
                <div class="detail">
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">CSDN学院</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">腾讯课堂</a>
                    </div>
                </div>
            </div>
            <div class="detail-item">
                <div class="label">资料：</div>
                <div class="detail">
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">百度网盘</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">腾讯微云</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- linux 结束 -->
    <div id="video-share/php" class="video-item">
        <h1 class="title">PHP</h1>
        <img class="cover" src="/static/image/video_share/php.png" alt="" />
        <div class="video-detail">
            <div class="detail-item">
                <div class="label">简介：</div>
                <div class="detail detail-intro">这是简介。</div>
            </div>
            <div class="detail-item">
                <div class="label">视频：</div>
                <div class="detail">
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">CSDN学院</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">腾讯课堂</a>
                    </div>
                </div>
            </div>
            <div class="detail-item">
                <div class="label">资料：</div>
                <div class="detail">
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">百度网盘</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">腾讯微云</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- PHP 结束 -->
    <div id="video-share/golang" class="video-item">
        <h1 class="title">Golang</h1>
        <img class="cover" src="/static/image/video_share/golang.png" alt="" />
        <div class="video-detail">
            <div class="detail-item">
                <div class="label">简介：</div>
                <div class="detail detail-intro">这是简介。</div>
            </div>
            <div class="detail-item">
                <div class="label">视频：</div>
                <div class="detail">
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">CSDN学院</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">腾讯课堂</a>
                    </div>
                </div>
            </div>
            <div class="detail-item">
                <div class="label">资料：</div>
                <div class="detail">
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">百度网盘</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">腾讯微云</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- golang 结束 -->
</div>
<!-- 视频分享页结束 -->