{**
 * 视频分享页
 *
 * @link    http://zhouhuajian.website
 * @package zhouhuajian.website
 * @author  zhouhuajian
 * @version v1.0
 *}
<div id="video-share-wrap" class="main-wrap video-share-wrap hide">
    <h1 class="nav-title">原创视频分享</h1>
    <div class="nav-item">
        <div class="cate">
            操作系统：
        </div>
        <div class="video">
            <div class="video-btn">
                <a class="btn btn-deep-blue">Linux</a>
            </div>
        </div>
    </div>
    <div class="nav-item">
        <div class="cate">
            开发语言：
        </div>
        <div class="video">
            <div class="video-btn">
                <a class="btn btn-deep-blue">PHP</a>
            </div>
            <div class="video-btn">
                <a class="btn btn-deep-blue">Java</a>
            </div>
            <div class="video-btn">
                <a class="btn btn-deep-blue">Python</a>
            </div>
            <div class="video-btn">
                <a class="btn btn-deep-blue">Go</a>
            </div>
        </div>
    </div>
    <div class="nav-item">
        <div class="cate">
            网站前端：
        </div>
        <div class="video">
            <div class="video-btn">
                <a class="btn btn-deep-blue">HTML</a>
            </div>
            <div class="video-btn">
                <a class="btn btn-deep-blue">CSS</a>
            </div>
            <div class="video-btn">
                <a class="btn btn-deep-blue">Javascript</a>
            </div>
        </div>
    </div>
    <div class="nav-item">
        <div class="cate">
            其他：
        </div>
        <div class="video">
            <div class="video-btn">
                <a href="#video-share/personal-website" class="btn btn-deep-blue">个人网站项目实例</a>
            </div>
            <div class="video-btn">
                <a class="btn btn-deep-blue">Markdown</a>
            </div>
            <div class="video-btn">
                <a class="btn btn-deep-blue">Elasticsearch</a>
            </div>
            <div class="video-btn">
                <a class="btn btn-deep-blue">Git</a>
            </div>
            <div class="video-btn">
                <a class="btn btn-deep-blue">键盘</a>
            </div>
            <div class="video-btn">
                <a class="btn btn-deep-blue">浏览器</a>
            </div>
        </div>
    </div>
    <div class="video-item">
        <h1 class="title">个人网站项目实例</h1>
        <img class="cover" src="/static/image/home-video-share/1.jpg" alt="" />
        <div class="video-detail">
            <div class="detail-item">
                <div class="label">简介：</div>
                <div class="detail detail-intro">这是简介。</div>
            </div>
            <div class="detail-item">
                <div class="label">视频：</div>
                <div class="detail">
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                </div>
            </div>
            <div class="detail-item">
                <div class="label">资料：</div>
                <div class="detail">
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="video-item">
        <h1 class="title">个人网站项目实例</h1>
        <img class="cover" src="/static/image/home-video-share/1.jpg" alt="" />
        <div class="video-detail">
            <div class="detail-item">
                <div class="label">简介：</div>
                <div class="detail detail-intro">这是简介。</div>
            </div>
            <div class="detail-item">
                <div class="label">视频：</div>
                <div class="detail">
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                </div>
            </div>
            <div class="detail-item">
                <div class="label">资料：</div>
                <div class="detail">
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="video-share/personal-website" class="video-item">
        <h1 class="title">个人网站项目实例</h1>
        <img class="cover" src="/static/image/home-video-share/1.jpg" alt="" />
        <div class="video-detail">
            <div class="detail-item">
                <div class="label">简介：</div>
                <div class="detail detail-intro">这是简介。</div>
            </div>
            <div class="detail-item">
                <div class="label">视频：</div>
                <div class="detail">
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                </div>
            </div>
            <div class="detail-item">
                <div class="label">资料：</div>
                <div class="detail">
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="video-item">
        <h1 class="title">个人网站项目实例</h1>
        <img class="cover" src="/static/image/home-video-share/1.jpg" alt="" />
        <div class="video-detail">
            <div class="detail-item">
                <div class="label">简介：</div>
                <div class="detail detail-intro">这是简介。</div>
            </div>
            <div class="detail-item">
                <div class="label">视频：</div>
                <div class="detail">
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                </div>
            </div>
            <div class="detail-item">
                <div class="label">资料：</div>
                <div class="detail">
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="video-item">
        <h1 class="title">个人网站项目实例</h1>
        <img class="cover" src="/static/image/home-video-share/1.jpg" alt="" />
        <div class="video-detail">
            <div class="detail-item">
                <div class="label">简介：</div>
                <div class="detail detail-intro">这是简介。</div>
            </div>
            <div class="detail-item">
                <div class="label">视频：</div>
                <div class="detail">
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                </div>
            </div>
            <div class="detail-item">
                <div class="label">资料：</div>
                <div class="detail">
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="video-item">
        <h1 class="title">个人网站项目实例</h1>
        <img class="cover" src="/static/image/home-video-share/1.jpg" alt="" />
        <div class="video-detail">
            <div class="detail-item">
                <div class="label">简介：</div>
                <div class="detail detail-intro">这是简介。</div>
            </div>
            <div class="detail-item">
                <div class="label">视频：</div>
                <div class="detail">
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                </div>
            </div>
            <div class="detail-item">
                <div class="label">资料：</div>
                <div class="detail">
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="video-item">
        <h1 class="title">个人网站项目实例</h1>
        <img class="cover" src="/static/image/home-video-share/1.jpg" alt="" />
        <div class="video-detail">
            <div class="detail-item">
                <div class="label">简介：</div>
                <div class="detail detail-intro">这是简介。</div>
            </div>
            <div class="detail-item">
                <div class="label">视频：</div>
                <div class="detail">
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                </div>
            </div>
            <div class="detail-item">
                <div class="label">资料：</div>
                <div class="detail">
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="video-item">
        <h1 class="title">个人网站项目实例</h1>
        <img class="cover" src="/static/image/home-video-share/1.jpg" alt="" />
        <div class="video-detail">
            <div class="detail-item">
                <div class="label">简介：</div>
                <div class="detail detail-intro">这是简介。</div>
            </div>
            <div class="detail-item">
                <div class="label">视频：</div>
                <div class="detail">
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                </div>
            </div>
            <div class="detail-item">
                <div class="label">资料：</div>
                <div class="detail">
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="video-item">
        <h1 class="title">个人网站项目实例</h1>
        <img class="cover" src="/static/image/home-video-share/1.jpg" alt="" />
        <div class="video-detail">
            <div class="detail-item">
                <div class="label">简介：</div>
                <div class="detail detail-intro">这是简介。</div>
            </div>
            <div class="detail-item">
                <div class="label">视频：</div>
                <div class="detail">
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                </div>
            </div>
            <div class="detail-item">
                <div class="label">资料：</div>
                <div class="detail">
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                    <div class="detail-btn">
                        <a class="btn btn-deep-blue">网易云课堂</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 视频分享页结束 -->