/**
 * 打赏页CSS
 *
 * @link    http://zhouhuajian.website
 * @package zhouhuajian.website
 * @author  zhouhuajian
 * @version v1.0
 */
.donate-wrap {
    padding: 20px;
    line-height: 25px;
}
.donate-wrap .tip {
    color: #888888;
}
.donate-wrap .donate {
    padding: 20px 0;
}
.donate-wrap .donate a {
    margin-right: 10px;
}

.donate-wrap .qrcode {
    height: 140px;
    display: none;
}
.donate-wrap .qrcode.active {
    display: block;
}

.donate-wrap .qrcode div {
    float: left;
    margin-right: 20px;
    width: 120px;
}

.donate-wrap .qrcode img {
    float: left;
    display: inline-block;
    width: 120px;
    height: 120px;
}
.donate-wrap .qrcode .label {
    float: left;
    color: #888888;
    width: 120px;
    height: 20px;
    text-align: center;
}