/**
 * 全局CSS
 *
 * @link    http://zhouhuajian.website
 * @package zhouhuajian.website
 * @author  zhouhuajian
 * @version v1.0
 */
* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: '微软雅黑', '黑体', serif;
}
body {
    background: #f3f6fd;
}
a {
    color: #626068;
    text-decoration: none;
}

a:hover {
    color: #06a0fa;
    cursor: pointer;
}

.font-bold {
    font-weight: bold;
}
.font-13 {
    font-size: 13px;
}
.font-15 {
    font-size: 15px;
}
.font-18 {
    font-size: 18px;
}
.font-20 {
    font-size: 20px;
}
.fixed {
    position: fixed;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.fl {
    float: left;
}
.hide {
    display: none;
}
.btn {
    box-sizing: border-box;
    padding: 2px 5px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 13px;
}
.btn:hover {
    cursor: pointer;
}
.btn-green {
    border-color: #bce5a5;
    background: #ebfbe5;
    color: #4fc61c;
}
.btn-green:hover {
    border-color: #4fc61c;
    background: #4fc61c;
    color: #ffffff;
}

.btn-blue {
     border-color: #3e96db;
     background: #e8f3f9;
     color: #3e96db;
 }
.btn-blue:hover {
    border-color: #3e96db;
    background: #3e96db;
    color: #ffffff;
}

.btn-orange {
    border-color: #ef9d2f;
    background: #ffefe6;
    color: #ef9d2f;
}
.btn-orange:hover {
    border-color: #ef9d2f;
    background: #ef9d2f;
    color: #ffffff;
}

.btn-gray {
    border-color: #111e69;
    background: #e5e5ef;
    color: #111e69;
}
.btn-gray:hover {
    border-color: #111e69;
    background: #111e69;
    color: #ffffff;
}

@-webkit-keyframes flash {
    from,
    50%,
    to {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}
@keyframes flash {
    from,
    50%,
    to {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}
.flash {
    -webkit-animation-name: flash;
    animation-name: flash;
}

@-webkit-keyframes bounce-in-right {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes bounce-in-right {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.bounce-in-right {
    -webkit-animation-name: bounce-in-right;
    animation-name: bounce-in-right;
}

@-webkit-keyframes fade-in-up {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes fade-in-up {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.fade-in-up {
    -webkit-animation-name: fade-in-up;
    animation-name: fade-in-up;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.animated.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.animated.delay-2s {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
.animated.delay-3s {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}
.animated.delay-4s {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}
.animated.delay-5s {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}
.animated.fast {
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms;
}
.animated.faster {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
}
.animated.slow {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}
.animated.slower {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}














