/**
 * 全局CSS
 *
 * @link    http://zhouhuajian.website
 * @package zhouhuajian.website
 * @author  zhouhuajian
 * @version v1.0
 */
* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 14px;
    color: #254c5f;
    font-family: 微软雅黑, Metropolis, Inter, X-LocaleSpecific, sans-serif;
}

ul li {
    list-style-type:none;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.hide {
    display: none;
}

/** 按钮 **/
.btn {
    box-sizing: border-box;
    padding: 3px 6px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 13px;
}
.btn:hover {
    cursor: pointer;
}

/* 按钮不可用 */
.btn.btn-disabled {
    opacity: 70%;
}
.btn.btn-disabled:hover {
    cursor: default;
    border-color: inherit;
    background: inherit;
    color: inherit;
}

/* 具体颜色按钮 */
.btn-deep-blue {
    border-color: #254c5f;
    background: #ffffff;
    color: #254c5f;
}
.btn-deep-blue:hover {
    border-color: #254c5f;
    background-color: #254c5f;
    color: #ffffff;
}