/**
 * 全局CSS
 *
 * @link    http://zhouhuajian.website
 * @package zhouhuajian.website
 * @author  zhouhuajian
 * @version v1.0
 */
* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 14px;
    font-family: 微软雅黑, Metropolis, Inter, X-LocaleSpecific, sans-serif;
}

html, body {

}
.head-wrap {
    overflow-x: hidden;
}
a {
    cursor: pointer;
    text-decoration: none;
}