/**
 * 首页CSS
 *
 * @link    http://zhouhuajian.website
 * @package zhouhuajian.website
 * @author  zhouhuajian
 * @version v1.0
 */
.head-wrap {
    top: 0;
    left: 0;
    width: 100%;
    background: #20123a;
    color: #f3f6fd;
    height: 50px;
}

.head {
    margin: 0 auto;
    width: 1000px;
    height: 50px;
    line-height: 50px;
}

.head .icon {
    padding-right: 3px;
    height: 50px;
    line-height: 55px;
}
.head .icon:hover {
    cursor: pointer;
}
.head .web-name:hover {
    cursor: pointer;
}
.head .web-name-cover {
    top: 0;
    left: 20px;
    background: #20123a;
    z-index: 10;
    width: 150px;
    height: 50px;
}

.head .blank {
    width: 60px;
    height: 50px;
}
.head .nav {
    z-index: 20;
}
.head .nav a {
    z-index: 20;
    font-size: 15px;
    font-weight: bold;
    color: #f3f6fd;
    display: inline-block;
    float: left;
    height: 50px;
    padding: 0 15px;
}

.main-wrap {
    box-sizing: border-box;
    width: 1000px;
    margin: 70px auto 0 auto;
    background: #ffffff;
    border-radius: 3px;
}

.foot-wrap {
    color: #626068;
    padding: 20px 0 20px 0;
    width: 100%;
    text-align: center;
    line-height: 30px;
}