.head-wrap {
    top: 0;
    left: 0;
    width: 100%;
    background: #252730;
    color: #f3f6fd;
    height: 50px;
}

.head {
    margin: 0 auto;
    width: 1000px;
    height: 50px;
    line-height: 50px;
}

.head .icon {
    margin-right: 3px;
    height: 50px;
    line-height: 55px;
}
.head .web-name-cover {
    top: 0;
    left: 20px;
    background: #252730;
    z-index: 10;
    width: 150px;
    height: 50px;
}

.head .blank {
    width: 60px;
    height: 50px;
}
.head .nav {
    z-index: 20;
}
.head .nav a {
    z-index: 20;
    font-size: 15px;
    font-weight: bold;
    color: #f3f6fd;
    display: inline-block;
    float: left;
    height: 50px;
    padding: 0 15px;
}
@keyframes nav-btn-keyframes {
    0%   { color: #f3f6fd; }
    25%  { color: red; }
    50%  { color: yellow; }
    75%  { color: green; }
    100% { color: #f3f6fd; }
}
/*
@keyframes nav-btn-keyframes {
    0%   { color: #f3f6fd; }
    16%  { color: red; }
    32%  { color: #f3f6fd; }
    48%  { color: yellow; }
    64% { color: #f3f6fd; }
    80%  { color: rgb(53, 154, 234); }
    100% { color: #f3f6fd; }
}
@-moz-keyframes nav-btn-keyframes {
    0%   {background: red;}
    25%  {background: yellow;}
    50%  {background: blue;}
    100% {background: green;}
}
@-webkit-keyframes nav-btn-keyframes {
    0%   {background: red;}
    25%  {background: yellow;}
    50%  {background: blue;}
    100% {background: green;}
}
@-o-keyframes nav-btn-keyframes {
    0%   {background: red;}
    25%  {background: yellow;}
    50%  {background: blue;}
    100% {background: green;}
}*/
.head .nav a:hover {
    animation: nav-btn-keyframes 5s infinite;
    /*
    -moz-animation: nav-btn-keyframes 5s infinite;
    -webkit-animation: nav-btn-keyframes 5s infinite;
    -o-animation: nav-btn-keyframes 5s infinite;*/
}

.main-wrap {
    box-sizing: border-box;
    width: 1000px;
    margin: 70px auto 0 auto;
    background: #ffffff;
}

.foot-wrap {
    color: #626068;
    padding: 20px 0 20px 0;
    width: 100%;
    text-align: center;
    line-height: 30px;
}