/**
 * index CSS
 *
 * @link    http://zhouhuajian.website
 * @package zhouhuajian.website
 * @author  zhouhuajian
 * @version v1.0
 */
.main-wrap {
    display: none;
    float: left;
    width: 100%;
    height: 100%;
}
