/**
 * 诗词页面 CSS
 *
 * @link    http://zhouhuajian.website
 * @package zhouhuajian.website
 * @author  zhouhuajian
 * @version v1.0
 */
.poetry-wrap {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    line-height: 30px;
}