/**
 * 关于页CSS
 *
 * @link    http://zhouhuajian.website
 * @package zhouhuajian.website
 * @author  zhouhuajian
 * @version v1.0
 */
.about-wrap {
    height: 420px;
}
.about-wrap .intro {
    box-sizing: border-box;
    width: 500px;
    float: left;
    padding: 20px 0 20px 270px;
    line-height: 27px;
}
.about-wrap .avatar {
    box-sizing: border-box;
    width: 500px;
    padding: 20px 0 20px 80px;
    float: left;
}
.about-wrap .avatar img {
    display: block;
    float: left;
    width: 130px;
    height: 130px;
    border-radius: 20px;
}